body {
    font-family: "Poppins", sans-serif;
    background: #f4f6f8;
    padding: 30px;
}

.invoice-box {
    background: #ffffff;
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 1px solid #ddd;
}

.invoice-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 2px solid #eee;
    padding-bottom: 15px;
}

.brand h1 {
    margin: 0;
    color:#1e2a5e;
}

.brand p {
    margin: 5px 0 0;
    color: #1e2a5e;
}

.invoice-info p {
    margin: 3px 0;
    text-align: right;
}

.section {
    margin-top: 25px;
}

.section h3 {
    margin-bottom: 10px;
    color: #1e2a5e;
}

.invoice-table {
    width: 100%;
    border-collapse: collapse;
}

.invoice-table th,
.invoice-table td {
    border: 1px solid #ddd;
    padding: 12px;
}

.invoice-table th {
    background: #f0f0f0;
    text-align: left;
}

.total {
    margin-top: 20px;
    text-align: right;
    font-size: 18px;
}

.print-area {
    text-align: center;
    margin-top: 30px;
}

.print-area button {
    padding: 10px 20px;
    border: none;
    background:  #deb925;
    color: #1e2a5e;
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
}

.print-area button:hover {
    background: #deb925;
}

/* Hide button when printing */
@media print {
    body {
        background: #ffffff;
    }

    .print-area {
        display: none;
    }
}
